.header {
  background-color: #003580;
  color: white;
  position: relative;
  z-index: 1;
}

.header__container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 20px 0 100px 0;
}

.header__description {
  margin: 20px 0;
}

.header__button,
.header__search-button {
  background-color: #0071c2;
  color: white;
  font-weight: 500;
  border: none;
  padding: 10px;
  cursor: pointer;
}
