.search-container {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.search-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  max-width: 1024px;
  width: 100%;
  gap: 20px;
}
