.hotel-list {
  margin-top: 30px;
}

.hotel-list__title {
  margin-bottom: 30px;
}

.hotel-list__container {
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.hotel-list__item {
  flex: 1;
}

.hotel-list__img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  z-index: -1;
  cursor: pointer;
}

.hotel-list__information {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hotel-list__name {
  font-weight: bold;
  font-size: 18px;
  color: #003580;
  text-decoration: underline;
  cursor: pointer;
}

.hotel-list__city {
  font-weight: 100;
}

.hotel-list__price {
  font-weight: 600;
}

.hotel-list__review {
  display: flex;
  align-items: center;
  gap: 10px;
}

.hotel-list__rate {
  background-color: #003580;
  color: white;
  padding: 5px;
}
