.nav-items {
  display: flex;
  align-items: center;
  background-color: #003580;
  color: white;
}

.nav-items__container {
  width: 100%;
  max-width: 1024px;
  display: flex;
  gap: 30px;
  margin: 0 auto;
}

.nav-items__item {
  padding: 7px 10px;
  cursor: pointer;
}

.nav-items__item.active {
  border: 1px solid white;
  border-radius: 20px;
}

.nav-items__item span {
  margin-left: 10px;
}
