.nav-bar {
  height: 120px;
  background-color: #003580;
}

.nav-bar__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding-top: 15px;
  color: white;
}

.nav-bar__logo {
  font-weight: bold;
  cursor: pointer;
}

.nav-bar__button {
  margin-left: 20px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  color: #003580;
}
